<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="true"
        cacheDirectory=".phpunit.cache"
        executionOrder="depends,defects"
        failOnWarning="false"
        failOnRisky="true"
        failOnEmptyTestSuite="true"
>
  <testsuites>
    <testsuite name="FacelessLogger Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>

  <coverage>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/coverage-html"/>
    </report>
  </coverage>

  <logging>
    <testdoxHtml outputFile="build/reports/testdox.html"/>
    <junit outputFile="build/reports/junit.xml"/>
  </logging>
</phpunit>
